@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    border-radius: 10px;
    background-color: lightgray;
    height: 300px;
    width: 300px;

    border: 10px solid darkslategray;

    padding: 10px 10px 10px 10px;

    margin: 10px auto;

    outline: 5px lightcoral dashed;
}

a{
    color: darkred;
    text-decoration: none;

    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

a:hover{
    border-width: 3px;
    border-style: dotted;
    border-color: red;
}

a#padrao{
    border: none;
    padding: none;
}

button{
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcoral;
    border: none;
}

button:hover{
    background-color: lightblue;
}
